@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
  }
}

@layer components {
  .ghost-border {
    border: 1px solid rgba(173, 179, 180, 0.15);
  }
}

@layer utilities {
  .label-sm {
    font-size: 0.6875rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
